<!DOCTYPE html>

<title>CIDR Tools</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">


<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" href="/">IPv4 CIDR TOOLS</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tooltip" title="CIDR table reference" href="/">CIDR Table</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tooltip" title="show details about an IP address/mask" href="disector">Disector</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tooltip" title="breakdown network into subnets" href="subnet">Subnet</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tooltip" title="subnet CSV output" href="subnet-csv">Subnet CSV</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tooltip" title="show the parent networks of a subnet" href="supernet">Supernet</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tooltip" title="summarize a list of networks" href="summary">Summary</a>
    </li>
  </ul>

</nav>

<br>
