<!DOCTYPE html>

{% include 'header.html' %}

<div class="container">
  <h4> {{ form_title }} </h4>

</ul> 
<h3> <a name="cassa">Class A Host/Subnet Table</a> </h3> 
<blockquote> 
<pre>
Class A
Number of
Bits Borrowed      Subnet             Effective    Number of       Number of Subnet
from Host Portion  Mask               Subnets      Hosts/Subnet    Mask Bits
-------            ---------------  	---------    -------------   -------------
1                  255.128.0.0               2        8388606         /9
2                  255.192.0.0               4        4194302         /10
3                  255.224.0.0               8        2097150         /11
4                  255.240.0.0              16        1048574         /12
5                  255.248.0.0              32         524286         /13
6                  255.252.0.0              64         262142         /14
7                  255.254.0.0             128         131070         /15
8                  255.255.0.0             256          65534         /16
9                  255.255.128.0           512          32766         /17
10                 255.255.192.0          1024          16382         /18
11                 255.255.224.0          2048           8190         /19
12                 255.255.240.0          4096           4094         /20
13                 255.255.248.0          8192           2046         /21
14                 255.255.252.0         16384           1022         /22
15                 255.255.254.0         32768            510         /23
16                 255.255.255.0         65536            254         /24
17                 255.255.255.128      131072            126         /25
18                 255.255.255.192      262144             62         /26
19                 255.255.255.224      524288             30         /27
20                 255.255.255.240     1048576             14         /28
21                 255.255.255.248     2097152              6         /29
22                 255.255.255.252     4194304              2         /30
23                 255.255.255.254     8388608              2*        /31
</pre>
</blockquote>

<h3> <a name="classb">Class B Host/Subnet Table</a> </h3> 
<blockquote> 
<pre>
Class B
Number of
Bits Borrowed      Subnet             Effective    Number of       Number of Subnet
from Host Portion  Mask               Subnets      Hosts/Subnet    Mask Bits
-------            ---------------  	---------    -------------   -------------
1                  255.255.128.0             2        32766           /17
2                  255.255.192.0             4        16382           /18
3                  255.255.224.0             8         8190           /19
4                  255.255.240.0            16         4094           /20
5                  255.255.248.0            32         2046           /21
6                  255.255.252.0            64         1022           /22
7                  255.255.254.0           128          510           /23
8                  255.255.255.0           256          254           /24
9                  255.255.255.128         512          126           /25
10                 255.255.255.192        1024           62           /26
11                 255.255.255.224        2048           30           /27
12                 255.255.255.240        4096           14           /28
13                 255.255.255.248        8192            6           /29
14                 255.255.255.252       16384            2           /30
15                 255.255.255.254       32768            2*          /31
</pre> 
</blockquote>

<h3> <a name="classc">Class C Host/Subnet Table</a> </h3>
<blockquote> 
<pre>
Class C
Number of
Bits Borrowed      Subnet             Effective    Number of       Number of Subnet
from Host Portion  Mask               Subnets      Hosts/Subnet    Mask Bits
-------            ---------------  	---------    -------------   -------------
1                  255.255.255.128          2          126             /25
2                  255.255.255.192          4           62             /26
3                  255.255.255.224          8           30             /27
4                  255.255.255.240         16           14             /28
5                  255.255.255.248         32            6             /29
6                  255.255.255.252         64            2             /30
7                  255.255.255.254        128            2*            /31
</pre>      
</blockquote> 

</div>
