<!DOCTYPE html>

{% include 'header.html' %}

<div class="container">
  <h4> {{ form_title }} </h4>

</ul> 
<h3> <a name="classa">Sub-Class C Tables</a> </h3> 


<p style="text-align:center; margin-bottom:0; padding-bottom:0;"><strong>/25 -- 2 Subnets -- 126 Hosts / Subnet</strong></p><table style="margin:auto;" cellspacing="0">
  <!-- cellspacing='0' is important, must stay -->
  

  <!-- Table Header -->
  <thead>
    <tr>
      <th>Network #</th>
      <th>IP Range</th>
      <th>Broadcast</th>
    </tr>
  </thead>
  <!-- Table Header -->

  <!-- Table Body -->
  <tbody>
    <tr>
      <td>.0</td>
      <td>.1 - .126</td>
      <td>.127</td>
    </tr>
    <!-- Table Row -->

    <tr class="even">
      <td>.128</td>
      <td>.129 - .254</td>
      <td>.255</td>
    </tr>
    <!-- Darker Table Row -->
  </tbody>
  <!-- Table Body -->
</table>


</blockquote> 

</div>
