<!DOCTYPE html>

{% include 'header.html' %}

<div class="container">
  <h4> {{ form_title }} </h4>


  <form action="" method="post" role="form" class="form-inline">
    {{ form.csrf }}
  <label class="mr-sm-2 mb-0" for="ip_list">List of subnets:</label>
  <textarea class="form-control mr-sm-4 mt-2 mb-2 mb-sm-2" rows="8" cols="30" name="ip_list", type="text"></textarea>
      <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <br>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for message in messages %}
  {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
      <strong> {{ message[1] }} </strong>
    </div>

    {% if results %}

      <div class="table-responsive">

            {{ results }}

      </div>

    {% endif %}
  {% endif %}

  {% if "Error" in message[1]: %}
  <div class="alert alert-warning">
      <strong> {{ message[1] }} </strong>
      {% for item in form.errors %}
          <li>{{form.errors[item][0]}}</li>
      {% endfor %}
  </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
